.todos-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.todoList {
  min-width: 250px;
  max-width: 600px;
  width: 40%;
  background: linear-gradient(
    0deg,
    rgb(30, 151, 164) 0%,
    rgb(20, 130, 160) 100%
  );
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 8px;
}

.todoList > h2 {
  font-size: 2rem;
}

.remove {
  background: linear-gradient(0deg, rgb(40, 115, 65) 0%, rgb(20, 153, 82) 100%);
}

.dragging-active {
  background: linear-gradient(
    0deg,
    rgb(23, 167, 184) 0%,
    rgb(39, 152, 183) 100%
  );
}

.dragging-completed {
  background: linear-gradient(0deg, rgb(41, 136, 73) 0%, rgb(16, 187, 96) 100%);
}
