.todos-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.todoList {
  min-width: 450px;
  width: 40%;
  background: linear-gradient(
    0deg,
    rgb(30, 151, 164) 0%,
    rgb(20, 130, 160) 100%
  );
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 8px;
}

.remove {
  background: linear-gradient(0deg, rgb(40, 115, 65) 0%, rgb(20, 153, 82) 100%);
}
